body {
	height:101%;
}
h4.subHead {
    font-size: 36px;
	/*margin-top: 6px;*/
	text-shadow: 0 0 5px #000000;
}

#textBlock #mainText {
   /* padding: 5% 3% 5% 4%;*/
   padding: 5% 3% 5% 3%;
	/*padding-top:50px;*/
	padding-top:90px;
}
.newsTitle {margin-top:180px}
@media (min-width: 600px) {	
	#textBlock #mainText, #side {
   /* padding: 4% 3% 5% 4%;*/
    padding: 4% 3% 5% 3%;
	padding-top: 4%;
	}
	.newsTitle {margin-top:0px}
}


/*#textBlock.closed {
    top: 145px;
}*/
#textBlock .more {
    padding: 2px 20px 4px 12px;
	background-image:url("../images/dsn_down_arrow_1.png");
	background-repeat:no-repeat;
	background-position:90% 52%;
}
#textBlock.closed a.more:link, #textBlock.closed a.more:hover, #textBlock.closed a.more:visited {
    color: #ffffff !important;
	text-decoration:none !important;
	display:block;
	float:left;
	clear:both;
	margin-top:10px;
}
#textBlock .more2{
		background-color:rgba(255,255,255,0.5);
		border-radius:7px;
		padding:3px 12px;
		color:#FFF;
		visibility:visible;
	}
#textBlock a.more2:hover{
	color:#fbc032;
}
/*#mainText #side li {
    border-bottom: thin solid #C7C7C7;
    list-style: none outside none;
    padding: 0 0 10%;
}*/
#mainText #side ul {
    margin-top:-10%;
}
.Title {
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.SubTitle {
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 5px;

}
.bodyImage_right {
	float: right;
	margin: 0px -13px 10px 10px;
}

.bodyImage_left {
	float: left;
	margin: 0px 10px 10px -13px;
}

.bodyImage_left .Title,
.bodyImage_right .Title {
	color: #666666;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: normal;
}

.bodyImage_right .Caption {
	font-size: 12px;
	color: #666666;
	margin-top: 5px;
	margin-bottom: 5px;
}

.bodyImage_left .Caption {
	font-size: 12px;
	color: #666666;
	margin-top: 5px;
	margin-bottom: 5px;
}

.bodyImage_center .Caption {
	font-size: 12px;
	color: #666666;
	margin-top: 5px;
	margin-bottom: 5px;
}

.mCSB_container .carousel-indicators li, 
.mCSB_container .carousel-indicators .active {
    height: 97px;
    overflow: hidden;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari only override */
    ::i-block-chrome,.mCSB_container .carousel-indicators li {
        height: 90px;
    } 
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari only override */
    ::i-block-chrome,.mCSB_container .carousel-indicators .active {
        height: 90px;
    } 
}
li.ul-col, li.ul-col ul { list-style-type: none;
 }
#textBlock .Title, #textBlock .SubTitle, #textBlock h3{ color:black;}
#textBlock.closed .Title, #textBlock.closed .SubTitle, #textBlock.closed h3, #textBlock.closed .Caption { color:white;}
#textBlock.closed .hide .Title, #textBlock.closed .hide .SubTitle, #textBlock.closed .hide .Caption, #textBlock.closed .hide h3 {color: #666666;}
.grayline { clear:both; width:100%; background-color:#C7C7C7; padding:0px; margin:0px; height:1px;}
#textBlock.closed .col-sm-8 { width: 100%; }
#textBlock.closed #mainText div a:link, #textBlock.closed #mainText div a:visited {
   /* color: #ffffff !important;*/
    text-decoration: underline;
}
#textBlock.closed #mainText .hide a:link, #textBlock.closed #mainText .hide a:visited {
    color: #0061d9 !important;
    text-decoration: underline;
}
a.a2a_i span, a.a2a_more span {
color: #868d96;
}
a.a2a_i span:hover, a.a2a_more span:hover {
color: #ffffff;
}
.selectArrow { display:none;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
 .selectArrow { display:block;background-image:url('../images/customDropdown.png'); position:absolute; top:30%; right:15px;width:15px;height:17px; background-size:26px; background-position:right top;}
}