{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}body page{% endblock %}

{% block content %}
<h2 class="page-title">{{ self.title }}</h2>

<div class="content-wrapper">
{{ self.body|richtext }}
</div>
{% endblock %}