{% load demo_dsn_tags static wagtailcore_tags %}
{% get_site_root as site_root %}

{# Implementation of bootstrap theme dropdown menu - shows top level links and their children #}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-sm-5">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bottomNav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="navbar-brand"><img src="{% static 'images/spacer.gif' %}" border="0" width="338" height="58" usemap="#NASAJPL" alt="NASA / JPL banner"></div>
            <map name="NASAJPL">
                <area alt="NASA" shape="rect" coords="0,0,73,57" href="http://www.nasa.gov/" target="_blank">
                <area alt="JET PROPULSION LABORATORY a division of the California Institute of Technology" shape="poly" coords="89,0,371,0,371,63,89,63" href="http://www.jpl.nasa.gov/" target="_blank">
            </map>
        </div>
        <div class="col-sm-7" id="mainNav">
        <ul class="nav navbar-nav">
            <li><a href="http://www.jpl.nasa.gov/" target="_blank">JPL Home</a></li>
            <li><a href="http://www.jpl.nasa.gov/news/" target="_blank">News</a></li>
            <li><a href="http://www.jpl.nasa.gov/spaceimages/" target="_blank">Images</a></li>
            <li><a href="http://www.jpl.nasa.gov/video/" target="_blank">Videos</a></li>
            <li><a href="http://www.jpl.nasa.gov/missions/" target="_blank">Missions</a></li>
            <li style="margin-right:-30px;"><a href="http://www.jpl.nasa.gov/social/" target="_blank">Social</a>
            <!-- AddThis Button BEGIN -->
            <!-- AddThis Button END -->
            </li>
            <li>
                <form class="navbar-form navbar-left" role="search" name="theSearchForm" id="theSearchForm" action="{% url 'search' %}" method="get">
                <div class="form-group">
                <input type="text" class="form-control" id="search" placeholder="search" name="searchstring" value="{{ search_query }}" alt="Search Box" onfocus="handleSearchBox(this.value);" onblur="jQuery('#theSearchForm').submit();">
                </div>
                </form>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->

    <div id="shade" style="height: 38px; background-color: rgba(0, 0, 0, 0.74902);"></div>
    <div class="col-sm-9 noPadding">
        <div class="collapse navbar-collapse" id="bottomNav">
            <ul class="nav nav-pills">
            {% for menuitem in menuitems %}
                <li class="{% if menuitem.show_dropdown %}dropdown{% endif %}{% if menuitem.active %} active{% endif %}">
                    {% if menuitem.show_dropdown %}
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ menuitem.title }} <b class="caret"></b></a>
                        {% top_menu_children parent=menuitem %}
                    {% else %}
                        <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                    {% endif %}
                </li>       
            {% endfor %}
            </ul>
        </div>
    </div>
    <div id="location" class="col-sm-3"></div>
</nav>